{
    "openapi": "3.0.0",
    "info": {
        "title": "Träwelling API",
        "description": "Träwelling user API description. This is an incomplete documentation with still many errors. The API is currently not yet stable. Endpoints are still being restructured. Both the URL and the request or body can be changed. Breaking changes will be announced on GitHub: https://github.com/Traewelling/traewelling/blob/develop/API_CHANGELOG.md",
        "contact": {
            "email": "support@traewelling.de"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0 - alpha"
    },
    "servers": [
        {
            "url": "https://traewelling.de/api/v1",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000/api/v1",
            "description": "This instance"
        }
    ],
    "paths": {
        "/app/changelog": {
            "get": {
                "operationId": "getChangelog",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ChangelogResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/events": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "List events for admin management.",
                "operationId": "getAdminEvents",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "future",
                                "current",
                                "past"
                            ]
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of events.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventAdminResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Create a new event.",
                "operationId": "createAdminEvent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Event created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventAdminResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/events/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get a single event for editing.",
                "operationId": "getAdminEvent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Event details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventAdminResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update an existing event.",
                "operationId": "updateAdminEvent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Event updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventAdminResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Admin"
                ],
                "summary": "Delete an event.",
                "operationId": "deleteAdminEvent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Deleted."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/event-suggestions": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "List unprocessed event suggestions.",
                "operationId": "getAdminEventSuggestions",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of suggestions.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventSuggestionResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/event-suggestions/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get a single suggestion with parallel events for the accept view.",
                "operationId": "getAdminEventSuggestion",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Suggestion with parallel events.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "suggestion": {
                                                    "$ref": "#/components/schemas/EventSuggestionResource"
                                                },
                                                "parallelEvents": {
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "id": {
                                                                "type": "integer"
                                                            },
                                                            "name": {
                                                                "type": "string"
                                                            },
                                                            "slug": {
                                                                "type": "string"
                                                            },
                                                            "checkin_start": {
                                                                "type": "string",
                                                                "format": "date"
                                                            },
                                                            "checkin_end": {
                                                                "type": "string",
                                                                "format": "date"
                                                            },
                                                            "similarity": {
                                                                "type": "number",
                                                                "format": "float"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/event-suggestions/{id}/accept": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Accept an event suggestion and create the event.",
                "operationId": "acceptAdminEventSuggestion",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AdminEventRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Event created from suggestion.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventAdminResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/event-suggestions/{id}/deny": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Deny an event suggestion.",
                "operationId": "denyAdminEventSuggestion",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "reason"
                                ],
                                "properties": {
                                    "reason": {
                                        "type": "string",
                                        "enum": [
                                            "denied",
                                            "too-late",
                                            "duplicate",
                                            "not-applicable",
                                            "missing-information"
                                        ]
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Suggestion denied."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/statuses": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "List statuses for admin moderation. Admin only.",
                "operationId": "getAdminStatuses",
                "parameters": [
                    {
                        "name": "userQuery",
                        "in": "query",
                        "description": "Filter by user name or username",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated list of statuses.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AdminStatusResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated."
                    },
                    "403": {
                        "description": "Forbidden."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/admin/statuses/{id}": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get a single status with all admin details. Admin only.",
                "operationId": "getAdminStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Status details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AdminStatusResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Admin"
                ],
                "summary": "Update a status including moderation fields. Admin only.",
                "operationId": "updateAdminStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "origin",
                                    "destination",
                                    "visibility"
                                ],
                                "properties": {
                                    "origin": {
                                        "description": "Origin station ID",
                                        "type": "integer"
                                    },
                                    "destination": {
                                        "description": "Destination station ID",
                                        "type": "integer"
                                    },
                                    "body": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 280
                                    },
                                    "visibility": {
                                        "type": "integer"
                                    },
                                    "business": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "event_id": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "points": {
                                        "type": "integer",
                                        "nullable": true
                                    },
                                    "moderation_notes": {
                                        "type": "string",
                                        "nullable": true,
                                        "maxLength": 255
                                    },
                                    "lock_visibility": {
                                        "type": "boolean",
                                        "nullable": true
                                    },
                                    "hide_body": {
                                        "type": "boolean",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated status.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AdminStatusResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/alerts": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get alerts. Without ?all returns only currently active alerts. With ?all=true (admin only) returns all alerts with cursor pagination.",
                "operationId": "getAlerts",
                "parameters": [
                    {
                        "name": "all",
                        "in": "query",
                        "description": "Admin only: return all alerts regardless of active dates.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "cursor",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of alerts",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AlertResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Create a new alert. Admin only.",
                "operationId": "createAlert",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "active_from",
                                    "title_de",
                                    "content_de",
                                    "title_en",
                                    "content_en"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "info",
                                            "warning",
                                            "danger",
                                            "success"
                                        ]
                                    },
                                    "active_from": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "active_until": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "title_de": {
                                        "type": "string"
                                    },
                                    "content_de": {
                                        "type": "string"
                                    },
                                    "title_en": {
                                        "type": "string"
                                    },
                                    "content_en": {
                                        "type": "string"
                                    },
                                    "url_de": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url_en": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Alert created.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AlertResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/alerts/{id}": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get a single alert. Admin only.",
                "operationId": "getAlert",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Alert details.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AlertResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Update an alert. Admin only.",
                "operationId": "updateAlert",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "type",
                                    "active_from",
                                    "title_de",
                                    "content_de",
                                    "title_en",
                                    "content_en"
                                ],
                                "properties": {
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "info",
                                            "warning",
                                            "danger",
                                            "success"
                                        ]
                                    },
                                    "active_from": {
                                        "type": "string",
                                        "format": "date"
                                    },
                                    "active_until": {
                                        "type": "string",
                                        "format": "date",
                                        "nullable": true
                                    },
                                    "title_de": {
                                        "type": "string"
                                    },
                                    "content_de": {
                                        "type": "string"
                                    },
                                    "title_en": {
                                        "type": "string"
                                    },
                                    "content_en": {
                                        "type": "string"
                                    },
                                    "url_de": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url_en": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "url": {
                                        "type": "string",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Alert updated.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/AlertResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    },
                    "422": {
                        "description": "Validation error."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Delete an alert. Admin only.",
                "operationId": "deleteAlert",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Alert deleted."
                    },
                    "403": {
                        "description": "Forbidden."
                    },
                    "404": {
                        "description": "Not found."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/applications": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "summary": "List OAuth applications",
                "description": "Returns all OAuth applications owned by the authenticated user. Requires a personal access token, third-party OAuth application tokens are not accepted.",
                "operationId": "getApplications",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OAuthClientResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Applications"
                ],
                "summary": "Create OAuth application",
                "description": "Create a new OAuth application for the authenticated user. Requires a personal access token — third-party OAuth application tokens are not accepted.",
                "operationId": "createApplication",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreOAuthClientRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OAuthClientResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/applications/{clientId}": {
            "put": {
                "tags": [
                    "Applications"
                ],
                "summary": "Update OAuth application",
                "description": "Update an OAuth application owned by the authenticated user. Requires a personal access token, third-party OAuth application tokens are not accepted.",
                "operationId": "updateApplication",
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreOAuthClientRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/OAuthClientResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Applications"
                ],
                "summary": "Delete OAuth application",
                "description": "Delete an OAuth application owned by the authenticated user. Requires a personal access token, third-party OAuth application tokens are not accepted.",
                "operationId": "deleteApplication",
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content"
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/applications/{clientId}/webhook-stats": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "summary": "Get webhook call statistics for an application",
                "description": "Returns webhook call log statistics for the last 7 days for a given OAuth application. Only the application owner or admins can access it.",
                "operationId": "getApplicationWebhookStats",
                "parameters": [
                    {
                        "name": "clientId",
                        "in": "path",
                        "description": "OAuth Client ID",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/WebhookStatsResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout & invalidate current bearer token",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error during revoke"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/auth/user": {
            "get": {
                "tags": [
                    "Auth",
                    "User"
                ],
                "summary": "Get authenticated user information",
                "description": "Get all profile information about the authenticated user",
                "operationId": "getAuthenticatedUser",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserAuthResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh Bearer Token",
                "description": "This request issues a new Bearer-Token with a new expiration date while also revoking the old token.",
                "operationId": "refreshToken",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BearerTokenResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/community/profile": {
            "get": {
                "tags": [
                    "Community"
                ],
                "summary": "Get your contribution profile",
                "description": "Returns contribution XP, level, and progress information for the authenticated user",
                "operationId": "getCommunityProfile",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CommunityProfile"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/community/history": {
            "get": {
                "tags": [
                    "Community"
                ],
                "summary": "Get your contribution history",
                "description": "Returns a cursor-paginated list of contribution history entries for the authenticated user",
                "operationId": "getCommunityHistory",
                "parameters": [
                    {
                        "name": "cursor",
                        "in": "query",
                        "description": "Cursor for pagination",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Number of entries per page (min 5, max 50, default 15)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 15,
                            "maximum": 50,
                            "minimum": 5
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ContributionHistory"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "passport": []
                    }
                ]
            }
        },
        "/app/configuration": {
            "get": {
                "tags": [
                    "Configuration Information"
                ],
                "summary": "Get Application Configuration Information",
                "description": "Retrieves configuration information about the application, including features and supported languages.",
                "operationId": "getConfigurationInfo",
                "responses": {
                    "200": {
                        "description": "Successful retrieval of configuration information.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConfigurationInformation"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/event/{slug}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get basic information for event",
                "description": "Returns slug, name and duration for an event",
                "operationId": "getEvent",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event/{slug}/details": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get additional information for event",
                "description": "Returns overall travelled distance and duration for an event",
                "operationId": "getEventDetails",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventDetailsResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event/{slug}/statuses": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get paginated statuses for event",
                "description": "Returns all for user visible statuses for an event",
                "operationId": "getEventStatuses",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Show active or upcoming events for the given timestamp",
                "description": "Returns all active or upcoming events for the given timestamp. Default timestamp is now. If upcoming is set to true, all events ending after the timestamp are returned.",
                "operationId": "getEvents",
                "parameters": [
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "The timestamp of view. Default is now.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2022-08-01T12:00:00+02:00"
                    },
                    {
                        "name": "upcoming",
                        "in": "query",
                        "description": "Show only upcoming events (only applicable, if from & to are not used)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "From date – returns all events in date range (required with \"until\")",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "description": "Until date – returns all events in date range (required with \"from\")",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Suggest a event",
                "description": "Submit a possible event for our administrators to publish",
                "operationId": "suggestEvent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventSuggestion"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not authorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/{id}/follow": {
            "post": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Follow a user",
                "operationId": "createFollow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User-ID or UUID",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "409": {
                        "description": "Already following"
                    },
                    "403": {
                        "description": "User is blocked"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-follows"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Unfollow a user",
                "operationId": "destroyFollow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User-ID or UUID",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "409": {
                        "description": "Already following"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-follows"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followers": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all followers",
                "operationId": "getFollowers",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "409": {
                        "description": "Already following"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/follow-requests": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all followers",
                "operationId": "getFollowRequests",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followings": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all users the current user is following",
                "operationId": "getFollowings",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page number for pagination",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followers/{userId}": {
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Remove a follower",
                "operationId": "removeFollower",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID or UUID",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Follow not found"
                    },
                    "500": {
                        "description": "Unknown error"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/follow-requests/{userId}": {
            "put": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Accept a follow request",
                "operationId": "acceptFollowRequest",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID or UUID",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Reject a follow request",
                "operationId": "rejectFollowRequest",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID or UUID",
                        "schema": {
                            "oneOf": [
                                {
                                    "type": "string",
                                    "format": "uuid"
                                },
                                {
                                    "type": "integer"
                                }
                            ]
                        },
                        "example": "00000000-0000-0000-0000-000000000000"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/ics-tokens": {
            "get": {
                "tags": [
                    "ICS Tokens"
                ],
                "summary": "Get ICS tokens",
                "description": "Get all ICS tokens of the authenticated user",
                "operationId": "getIcsTokens",
                "responses": {
                    "200": {
                        "description": "success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "description": "The list of ICS tokens belonging to the authenticated user",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/IcsEntryResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "oauth2_security_example": [
                            "write:projects",
                            "read:projects"
                        ]
                    }
                ]
            },
            "post": {
                "tags": [
                    "ICS Tokens"
                ],
                "summary": "Create ICS token",
                "description": "Create a new ICS token for the authenticated user",
                "operationId": "createIcsToken",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "The name of the ICS token",
                                        "type": "string",
                                        "example": "My ICS Token"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created - ICS token created successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "required": [
                                        "data"
                                    ],
                                    "properties": {
                                        "data": {
                                            "description": "The URL to access the ICS feed with the created token",
                                            "required": [
                                                "url"
                                            ],
                                            "properties": {
                                                "url": {
                                                    "description": "The URL to access the ICS feed with the created token",
                                                    "type": "string",
                                                    "format": "uri",
                                                    "example": "https://example.com/ics?user_id=1&token=abcd1234&limit=10000&from=2010-01-01&until=2030-12-31"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity - validation error"
                    }
                },
                "security": [
                    {
                        "oauth2_security_example": [
                            "write:projects",
                            "read:projects"
                        ]
                    }
                ]
            }
        },
        "/ics-tokens/{tokenId}": {
            "delete": {
                "tags": [
                    "ICS Tokens"
                ],
                "summary": "Revoke ICS token",
                "description": "Revoke an ICS token of the authenticated user",
                "operationId": "revokeIcsToken",
                "parameters": [
                    {
                        "name": "tokenId",
                        "in": "path",
                        "description": "The unique identifier of the ICS token to revoke",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No Content - token revoked successfully"
                    },
                    "404": {
                        "description": "Not Found - token not found or does not belong to the authenticated user"
                    }
                },
                "security": [
                    {
                        "oauth2_security_example": [
                            "write:projects",
                            "read:projects"
                        ]
                    }
                ]
            }
        },
        "/status/{id}/likes": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "[Auth optional] Get likes for status",
                "description": "Returns array of users that liked the status. Can return an empty dataset when the status author or the requesting user has deactivated likes",
                "operationId": "getLikesForStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/UserResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/status/{id}/like": {
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Add like to status",
                "description": "Add like to status",
                "operationId": "addLikeToStatus",
[...]
