{
    "openapi": "3.0.0",
    "info": {
        "title": "Träwelling API",
        "description": "Träwelling user API description. This is an incomplete documentation with still many errors. The API is currently not yet stable. Endpoints are still being restructured. Both the URL and the request or body can be changed. Breaking changes will be announced on GitHub: https://github.com/Traewelling/traewelling/blob/develop/API_CHANGELOG.md",
        "contact": {
            "email": "support@traewelling.de"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "https://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0 - alpha"
    },
    "servers": [
        {
            "url": "https://traewelling.de/api/v1",
            "description": "Production Server"
        },
        {
            "url": "http://localhost:8000/api/v1",
            "description": "This instance"
        }
    ],
    "paths": {
        "/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout & invalidate current bearer token",
                "operationId": "logoutUser",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "example": "success"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Error during revoke"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/auth/user": {
            "get": {
                "tags": [
                    "Auth",
                    "User"
                ],
                "summary": "Get authenticated user information",
                "description": "Get all profile information about the authenticated user",
                "operationId": "getAuthenticatedUser",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserAuthResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Refresh Bearer Token",
                "description": "This request issues a new Bearer-Token with a new expiration date while also revoking the old\n     *      token.",
                "operationId": "refreshToken",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BearerTokenResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event/{slug}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get basic information for event",
                "description": "Returns slug, name and duration for an event",
                "operationId": "getEvent",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event/{slug}/details": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get additional information for event",
                "description": "Returns overall travelled distance and duration for an event",
                "operationId": "getEventDetails",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/EventDetailsResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event/{slug}/statuses": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Get paginated statuses for event",
                "description": "Returns all for user visible statuses for an event",
                "operationId": "getEventStatuses",
                "parameters": [
                    {
                        "name": "slug",
                        "in": "path",
                        "description": "slug for event",
                        "schema": {
                            "type": "string"
                        },
                        "example": "weihnachten_2022"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/events": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "[Auth optional] Show active or upcoming events for the given timestamp",
                "description": "Returns all active or upcoming events for the given timestamp. Default timestamp is now. If upcoming is set to true, all events ending after the timestamp are returned.",
                "operationId": "getEvents",
                "parameters": [
                    {
                        "name": "timestamp",
                        "in": "query",
                        "description": "The timestamp of view. Default is now.",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2022-08-01T12:00:00+02:00"
                    },
                    {
                        "name": "upcoming",
                        "in": "query",
                        "description": "Show only upcoming events",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/event": {
            "post": {
                "tags": [
                    "Events"
                ],
                "summary": "Suggest a event",
                "description": "Submit a possible event for our administrators to publish",
                "operationId": "suggestEvent",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EventSuggestion"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not authorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/activeEvents": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "DEPRECATED - USE /events - removed after 2024-08",
                "description": "DEPRECATED - USE /events - removed after 2024-08",
                "operationId": "getActiveEvents",
                "responses": {
                    "200": {
                        "description": "The events"
                    }
                }
            }
        },
        "/user/{id}/follow": {
            "post": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Follow a user",
                "operationId": "createFollow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "409": {
                        "description": "Already following"
                    },
                    "403": {
                        "description": "User is blocked"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-follows"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Unfollow a user",
                "operationId": "destroyFollow",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "User-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "User not found"
                    },
                    "409": {
                        "description": "Already following"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-follows"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followers": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all followers",
                "operationId": "getFollowers",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "409": {
                        "description": "Already following"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/follow-requests": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all followers",
                "operationId": "getFollowRequests",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followings": {
            "get": {
                "tags": [
                    "User/Follow",
                    "Settings"
                ],
                "summary": "List all users the current user is following",
                "operationId": "getFollowings",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/followers/{userId}": {
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Remove a follower",
                "operationId": "removeFollower",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Follow not found"
                    },
                    "500": {
                        "description": "Unknown error"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/user/self/follow-requests/{userId}": {
            "put": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Accept a follow request",
                "operationId": "acceptFollowRequest",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "User/Follow"
                ],
                "summary": "Reject a follow request",
                "operationId": "rejectFollowRequest",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "User-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation"
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "Permission denied"
                    },
                    "404": {
                        "description": "Request not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-followers"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/status/{id}/likes": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "[Auth optional] Get likes for status",
                "description": "Returns array of users that liked the status. Can return an empty dataset when the status\n     *      author or the requesting user has deactivated likes",
                "operationId": "getLikesForStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/status/{id}/like": {
            "post": {
                "tags": [
                    "Likes"
                ],
                "summary": "Add like to status",
                "description": "Add like to status",
                "operationId": "addLikeToStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "201": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/LikeResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "409": {
                        "description": "Status already liked by user"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-likes"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Likes"
                ],
                "summary": "Remove like from status",
                "description": "Removes like from status",
                "operationId": "removeLikeFromStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/LikeResponse"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-likes"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/notifications/unread/count": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get count of unread notifications for authenticated user",
                "description": "Returns count of unread notifications of a authenticated user",
                "operationId": "getUnreadCount",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "integer",
                                            "example": 2
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-notifications"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/notifications": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Get paginated notifications for authenticated user",
                "description": "Returns paginated notifications of a authenticated",
                "operationId": "listNotifications",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Notification"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-notifications"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/notifications/read/{id}": {
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark notification as read",
                "operationId": "markAsRead",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of notification",
                        "schema": {
                            "type": "string"
                        },
                        "example": "cbf6054e-9c00-4b1f-ab37-7eb18ac8419f"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Notification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Notification not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-notifications"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/notifications/unread/{id}": {
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark notification as unread",
                "operationId": "markAsUnread",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of notification",
                        "schema": {
                            "type": "string"
                        },
                        "example": "cbf6054e-9c00-4b1f-ab37-7eb18ac8419f"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Notification"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "404": {
                        "description": "Notification not found"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-notifications"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/notifications/read/all": {
            "put": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Mark all notification as read",
                "operationId": "markAllAsRead",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-notifications"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/operators": {
            "get": {
                "tags": [
                    "Checkin"
                ],
                "summary": "Get a list of all operators.",
                "operationId": "bcfcf8686980cf0fcdc751b2e13fa4f7",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/OperatorResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized"
                    },
                    "500": {
                        "description": "Internal Server Error"
                    }
                }
            }
        },
        "/static/privacy": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get the current privacy policy",
                "description": "Get the current privacy policy",
                "operationId": "e649bec35ba50765db023e745233eda9",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "validFrom": {
                                                    "example": "2022-01-05T16:26:14.000000Z"
                                                },
                                                "en": {
                                                    "example": "This is the english privacy policy"
                                                },
                                                "de": {
                                                    "example": "Dies ist die deutsche Datenschutzerklärung"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/settings/acceptPrivacy": {
            "post": {
                "tags": [
                    "Settings"
                ],
                "summary": "Accept the current privacy policy",
                "description": "Accept the current privacy policy",
                "operationId": "acceptPrivacyPolicy",
                "responses": {
                    "204": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Already accepted"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/report": {
            "post": {
                "tags": [
                    "Report"
                ],
                "summary": "Report a Status, Event or User to the admins.",
                "operationId": "report",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "subjectType",
                                    "subjectId",
                                    "reason"
                                ],
                                "properties": {
                                    "subjectType": {
                                        "type": "string",
                                        "enum": [
                                            "Event",
                                            "Status",
                                            "User"
                                        ],
                                        "example": "Status"
                                    },
                                    "subjectId": {
                                        "type": "integer",
                                        "example": 1
                                    },
                                    "reason": {
                                        "type": "string",
                                        "enum": [
                                            "inappropriate",
                                            "implausible",
                                            "spam",
                                            "illegal",
                                            "other"
                                        ],
                                        "example": "inappropriate"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "The status is inappropriate because...",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The report was successfully created."
                    },
                    "401": {
                        "description": "The user is not authenticated."
                    },
                    "422": {
                        "description": "The given data was invalid."
                    }
                },
                "security": [
                    {
                        "passport": []
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/settings/profile": {
            "get": {
                "tags": [
                    "Settings"
                ],
                "summary": "Get the current user's profile settings",
                "description": "Get the current user's profile settings",
                "operationId": "getProfileSettings",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserProfileSettingsResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-settings"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Settings"
                ],
                "summary": "Update the current user's profile settings",
                "description": "Update the current user's profile settings",
                "operationId": "updateProfileSettings",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "username": {
                                        "type": "string",
                                        "maxLength": 25,
                                        "example": "gertrud123"
                                    },
                                    "displayName": {
                                        "type": "string",
                                        "maxLength": 50,
                                        "example": "Gertrud"
                                    },
                                    "privateProfile": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    },
                                    "preventIndex": {
                                        "type": "boolean",
                                        "example": false,
                                        "nullable": true
                                    },
                                    "privacyHideDays": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    },
                                    "defaultStatusVisibility": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/StatusVisibility"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "mastodonVisibility": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/MastodonVisibility"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "mapProvider": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/MapProvider"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "friendCheckin": {
                                        "oneOf": [
                                            {
                                                "$ref": "#/components/schemas/FriendCheckinSetting"
                                            }
                                        ],
                                        "nullable": true
                                    },
                                    "likesEnabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    },
                                    "pointsEnabled": {
                                        "type": "boolean",
                                        "example": true,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/UserProfileSettingsResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "422": {
                        "description": "Unprocessable Entity"
                    },
                    "400": {
                        "description": "Bad Request"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "write-settings"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/stations": {
            "get": {
                "tags": [
                    "Checkin"
                ],
                "summary": "Search for stations",
                "description": "UNSTABLE: This request returns an array of max. 20 station objects matching the query. **CAUTION:** All\n     *      slashes (as well as encoded to %2F) in {query} need to be replaced, preferrably by a space (%20)",
                "operationId": "indexStation",
                "parameters": [
                    {
                        "name": "query",
                        "in": "query",
                        "description": "station query",
                        "example": "Karls"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StationResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "503": {
                        "description": "There has been an error with our data provider"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "create-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/leaderboard": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "[Auth optional] Get array of 20 best users",
                "operationId": "getLeaderboard",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardUserResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/leaderboard/distance": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "[Auth optional] Get leaderboard array sorted by distance",
                "operationId": "getLeaderboardByDistance",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardUserResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/leaderboard/friends": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "Get friends-leaderboard array sorted",
                "operationId": "getLeaderboardByFriends",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardUserResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/leaderboard/{month}": {
            "get": {
                "tags": [
                    "Leaderboard"
                ],
                "summary": "[Auth optional] Get leaderboard array for a specific month",
                "operationId": "getMonthlyLeaderboard",
                "parameters": [
                    {
                        "name": "month",
                        "in": "path",
                        "description": "Month for the complete leaderboard in Format `YYYY-MM`",
                        "schema": {
                            "type": "string"
                        },
                        "example": "2022-04"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LeaderboardUserResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No Event found for this id"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/statistics": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get personal statistics",
                "operationId": "getStatistics",
                "parameters": [
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Start date for the statistics",
                        "example": "2021-01-01T00:00:00.000Z"
                    },
                    {
                        "name": "until",
                        "in": "query",
                        "description": "End date for the statistics",
                        "example": "2021-02-01T00:00:00.000Z"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "purpose": {
                                                    "description": "The purpose of travel",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "$ref": "#/components/schemas/Business"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 11
                                                            },
                                                            "duration": {
                                                                "description": "Duration in\n     *                                                            minutes",
                                                                "type": "integer",
                                                                "example": 425
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "categories": {
                                                    "description": "The categories of the travel",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "$ref": "#/components/schemas/HafasTravelType"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 11
                                                            },
                                                            "duration": {
                                                                "description": "Duration in minutes",
                                                                "type": "integer",
                                                                "example": 425
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "operators": {
                                                    "description": "The operators of the means of transport",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "name": {
                                                                "example": "Gertruds Verkehrsgesellschaft mbH"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "duration": {
                                                                "description": "Duration in minutes",
                                                                "type": "integer",
                                                                "example": 424
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "time": {
                                                    "description": "Shows the daily travel volume",
                                                    "type": "array",
                                                    "items": {
                                                        "properties": {
                                                            "date": {
                                                                "type": "string",
                                                                "example": "2021-01-01T00:00:00.000Z"
                                                            },
                                                            "count": {
                                                                "type": "integer",
                                                                "example": 10
                                                            },
                                                            "duration": {
                                                                "description": "Duration in minutes",
                                                                "type": "integer",
                                                                "example": 424
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/statistics/daily/{date}": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get statistics and statuses of one day",
                "description": "Returns all statuses and statistics for the requested day",
                "operationId": "getDailyStatistics",
                "parameters": [
                    {
                        "name": "date",
                        "in": "path",
                        "description": "Date for the statistics in Format `YYYY-MM-DD`",
                        "required": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2024-04-09"
                    },
                    {
                        "name": "timezone",
                        "in": "query",
                        "description": "Timezone for the date. If not set, the user's timezone will be used.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Europe/Berlin"
                    },
                    {
                        "name": "withPolylines",
                        "in": "query",
                        "description": "If this parameter is set, the polylines will be returned as well. Otherwise attribute is\n     *          null.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "statuses": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/StatusResource"
                                                    }
                                                },
                                                "polylines": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/FeatureCollection"
                                                    }
                                                },
                                                "totalDistance": {
                                                    "type": "integer",
                                                    "example": "74026"
                                                },
                                                "totalDuration": {
                                                    "type": "integer",
                                                    "example": "4711"
                                                },
                                                "totalPoints": {
                                                    "type": "integer",
                                                    "example": "42"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "User not authorized to access this"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/statistics/global": {
            "get": {
                "tags": [
                    "Statistics"
                ],
                "summary": "Get global statistics of the last 4 weeks",
                "operationId": "getGlobalStatistics",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "distance": {
                                                    "description": "Globally travelled distance in meters",
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "duration": {
                                                    "description": "Globally travelled duration in minutes",
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "activeUsers": {
                                                    "description": "Number of active users",
                                                    "type": "integer",
                                                    "example": 1000
                                                },
                                                "meta": {
                                                    "properties": {
                                                        "from": {
                                                            "example": "2021-01-01T00:00:00.000000Z"
                                                        },
                                                        "until": {
                                                            "example": "2021-02-01T00:00:00.000000Z"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statistics"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/dashboard": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated statuses of personal dashboard",
                "description": "Returns paginated statuses of personal dashboard",
                "operationId": "getDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/dashboard/global": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated statuses of global dashboard",
                "description": "Returns paginated statuses of global dashboard",
                "operationId": "getGlobalDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/dashboard/future": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated future statuses of current user",
                "description": "Returns paginated statuses of the authenticated user, that are more than 20 minutes in the\n     *      future",
                "operationId": "getFutureDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/statuses": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get active statuses",
                "description": "Returns all currently active statuses that are visible to the (un)authenticated user",
                "operationId": "getActiveStatuses",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/StatusResource"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/positions": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] get live positions for active statuses",
                "description": "Returns an array of live position objects for active statuses",
                "operationId": "getLivePositionsForActiveStatuses",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LivePointDto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/positions/{ids}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] get live positions for given statuses",
                "description": "Returns an array of live position objects for given status IDs",
                "operationId": "getLivePositionsForStatuses",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "Status-IDs separated by comma",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1337,1338"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LivePointDto"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            }
        },
        "/status/{id}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get single statuses",
                "description": "Returns a single status Object, if user is authorized to see it",
                "operationId": "getSingleStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/StatusResource"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "passport": [
                            "read-statuses"
                        ]
                    },
                    {
                        "token": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Status"
                ],
                "summary": "Update a status",
                "description": "Updates a single status Object, if user is authorized to",
                "operationId": "updateSingleStatus",
[...]
