{
    "openapi": "3.0.0",
    "info": {
        "title": "Träwelling API",
        "description": "Träwelling user API description. This is an incomplete documentation with still many errors.",
        "contact": {
            "email": "support@traewelling.de"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "1.0.0 - alpha"
    },
    "servers": [
        {
            "url": "https://traewelling.de/api/v1",
            "description": "Production Server"
        },
        {
            "url": "http://my-default-host.com",
            "description": "This instance"
        }
    ],
    "paths": {
        "/statuses/{id}/likedby": {
            "get": {
                "tags": [
                    "Likes"
                ],
                "summary": "[Auth optional] Get likes for status",
                "description": "Returns array of users that liked the status",
                "operationId": "getLikesForStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/User"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            }
        },
        "/dashboard": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated statuses of personal dashboard",
                "description": "Returns paginated statuses of personal dashboard",
                "operationId": "getDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Status"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/dashboard/global": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated statuses of global dashboard",
                "description": "Returns paginated statuses of global dashboard",
                "operationId": "getGlobalDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Status"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/dashboard/future": {
            "get": {
                "tags": [
                    "Dashboard"
                ],
                "summary": "Get paginated future statuses of current user",
                "description": "Returns paginated statuses of the authenticated user, that are more than 20 minutes in the\n     *      future",
                "operationId": "getFutureDashboard",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page of pagination",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Status"
                                            }
                                        },
                                        "links": {
                                            "$ref": "#/components/schemas/Links"
                                        },
                                        "meta": {
                                            "$ref": "#/components/schemas/PaginationMeta"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "401": {
                        "description": "Not logged in"
                    }
                },
                "security": [
                    {
                        "token": []
                    }
                ]
            }
        },
        "/statuses": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get active statuses",
                "description": "Returns all currently active statuses that are visible to the (un)authenticated user",
                "operationId": "getActiveStatuses",
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Status"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            }
        },
        "/statuses/{id}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get single statuses",
                "description": "Returns a single status Object, if user is authorized to see it",
                "operationId": "getSingleStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Status"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            },
            "put": {
                "tags": [
                    "Status"
                ],
                "summary": "Update a status",
                "description": "Updates a single status Object, if user is authorized to",
                "operationId": "updateSingleStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatusUpdateBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Status"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to manipulate this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            },
            "delete": {
                "tags": [
                    "Status"
                ],
                "summary": "Destroy a status",
                "description": "Deletes a single status Object, if user is authorized to",
                "operationId": "destroySingleStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Status-ID",
                        "schema": {
                            "type": "integer"
                        },
                        "example": 1337
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to manipulate this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            }
        },
        "/polyline/{ids}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get GeoJSON for statuses",
                "description": "Returns GeoJSON for all requested status IDs",
                "operationId": "getPolylines",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "comma seperated status IDs",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1337,1338"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "type": {
                                                    "example": "FeatureCollection"
                                                },
                                                "features": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Polyline"
                                                    }
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            }
        },
        "/stopovers/{ids}": {
            "get": {
                "tags": [
                    "Status"
                ],
                "summary": "[Auth optional] Get stopovers for statuses",
                "description": "Returns all underway-stops for stations",
                "operationId": "getStopOvers",
                "parameters": [
                    {
                        "name": "ids",
                        "in": "path",
                        "description": "comma seperated trip IDs",
                        "schema": {
                            "type": "string"
                        },
                        "example": "1,2"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Stopovers"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request"
                    },
                    "404": {
                        "description": "No status found for this id"
                    },
                    "403": {
                        "description": "User not authorized to access this status"
                    }
                },
                "security": [
                    {
                        "token": []
                    },
                    {}
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Event": {
                "title": "Event",
                "description": "Event model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 39
                    },
                    "name": {
                        "title": "name",
                        "description": "Name of event",
                        "type": "string",
                        "example": "9-Euro-Ticket"
                    },
                    "slug": {
                        "title": "slug",
                        "description": "URL-Slug for event",
                        "type": "string",
                        "example": "9_euro_ticket"
                    },
                    "hashtag": {
                        "title": "hashtag",
                        "description": "social media hashtag for event",
                        "type": "string",
                        "example": "NeunEuroTicket"
                    },
                    "host": {
                        "title": "host",
                        "description": "host of the event",
                        "example": "Die Bundesregierung"
                    },
                    "url": {
                        "title": "url",
                        "description": "external URL for this event",
                        "type": "string",
                        "example": "https://www.bundesregierung.de/breg-de/aktuelles/faq-9-euro-ticket-2028756"
                    },
                    "begin": {
                        "title": "begin",
                        "description": "Timestamp for the start of the event",
                        "example": "2022-06-01T00:00:00+02:00"
                    },
                    "end": {
                        "title": "end",
                        "description": "Timestamp for the end of the event",
                        "example": "2022-08-31T23:59:00+02:00"
                    },
                    "station": {
                        "title": "station",
                        "description": "nearest station for this event (nullable)",
                        "nullable": "true"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Event"
                }
            },
            "Links": {
                "title": "Links",
                "description": "pagination links",
                "properties": {
                    "first": {
                        "title": "first",
                        "description": "URL to first page of this pagination",
                        "type": "string",
                        "format": "uri",
                        "example": "https://traewelling.de/api/v1/ENDPOINT?page=1",
                        "nullable": true
                    },
                    "last": {
                        "title": "last",
                        "description": "URL to last page of this pagination (mostly null)",
                        "type": "string",
                        "format": "uri",
                        "example": null,
                        "nullable": true
                    },
                    "prev": {
                        "title": "prev",
                        "description": "URL to previous page of this pagination (mostly null)",
                        "type": "string",
                        "format": "uri",
                        "example": "https://traewelling.de/api/v1/ENDPOINT?page=1",
                        "nullable": true
                    },
                    "next": {
                        "title": "next",
                        "description": "URL to next page of this pagination (mostly null)",
                        "type": "string",
                        "format": "uri",
                        "example": "https://traewelling.de/api/v1/ENDPOINT?page=2",
                        "nullable": true
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Links"
                }
            },
            "PaginationMeta": {
                "title": "Meta",
                "description": "Pagination meta data",
                "properties": {
                    "current_page": {
                        "title": "current_page",
                        "description": "currently displayed page in this pagination",
                        "type": "integer",
                        "example": 2
                    },
                    "from": {
                        "title": "from",
                        "description": "The first element on this page is the nth element of the query",
                        "type": "integer",
                        "example": 16
                    },
                    "path": {
                        "title": "path",
                        "description": "The path of this pagination",
                        "type": "string",
                        "format": "url",
                        "example": "https://traewelling.de/api/v1/ENDPOINT"
                    },
                    "per_page": {
                        "title": "per_page",
                        "description": "the amount of items per page in this pagination",
                        "type": "integer",
                        "example": 15
                    },
                    "to": {
                        "title": "to",
                        "description": "The last element on this page is the nth element of the query",
                        "type": "integer",
                        "example": 30
                    }
                },
                "type": "object",
                "xml": {
                    "name": "PaginationMeta"
                }
            },
            "PaginationPage": {
                "title": "PaginationPage",
                "description": "pagination links",
                "xml": {
                    "name": "PaginationPage"
                }
            },
            "Polyline": {
                "title": "Polyline",
                "description": "Polyline of a single status as GeoJSON Feature",
                "properties": {
                    "type": {
                        "title": "type",
                        "type": "string",
                        "example": "Feature"
                    },
                    "geometry": {
                        "properties": {
                            "type": {
                                "type": "object",
                                "example": "LineString"
                            },
                            "coordinates": {
                                "type": "array",
                                "items": {
                                    "example": "[[8.39767,49.01625],[8.45947,49.06576],[8.52401,49.01625],[8.39218,48.88729],[8.25759,49.00544],[8.30703,49.07476],[8.39080,49.01535]]"
                                }
                            }
                        },
                        "type": "object"
                    },
                    "properties": {
                        "properties": {
                            "statusId": {
                                "type": "integer",
                                "example": 1337
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Polyline"
                }
            },
            "Status": {
                "title": "Status",
                "description": "Status model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 12345
                    },
                    "body": {
                        "title": "body",
                        "description": "User defined status text",
                        "example": "Hello world!"
                    },
                    "type": {
                        "title": "type",
                        "description": "type of status",
                        "type": "string",
                        "example": "HAFAS"
                    },
                    "user": {
                        "title": "user",
                        "description": "user id",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "username": {
                        "title": "username",
                        "description": "username (@-name)",
                        "type": "string",
                        "example": "Gertrud123"
                    },
                    "preventIndex": {
                        "title": "preventIndex",
                        "description": "Did the user choose to prevent search engines from indexing their profile?",
                        "type": "boolean",
                        "example": false
                    },
                    "business": {
                        "$ref": "#/components/schemas/BusinessEnum"
                    },
                    "visibility": {
                        "$ref": "#/components/schemas/VisibilityEnum"
                    },
                    "likes": {
                        "title": "likes",
                        "description": "How many people have liked this status",
                        "type": "integer",
                        "format": "int64",
                        "example": 12
                    },
                    "liked": {
                        "title": "liked",
                        "description": "Did the currently authenticated user like this status? (if unauthenticated = false)",
                        "type": "boolean",
                        "example": true
                    },
                    "createdAt": {
                        "title": "createdAt",
                        "description": "creation date of this status",
                        "type": "string",
                        "format": "datetime",
                        "example": "2022-07-17T13:37:00+02:00"
                    },
                    "train": {
                        "$ref": "#/components/schemas/Train"
                    },
                    "event": {
                        "$ref": "#/components/schemas/Event"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Status"
                }
            },
            "Stopovers": {
                "title": "Stopovers",
                "description": "Stopovers of a single status",
                "properties": {
                    "1": {
                        "description": "Array of stopovers. Key describes trip id",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/TrainStopover"
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Stopovers"
                }
            },
            "SuccessResponse": {
                "title": "SuccessResponse",
                "description": "Success Response",
                "properties": {
                    "status": {
                        "title": "status",
                        "description": "status",
                        "type": "string",
                        "example": "success"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "SuccessResponse"
                }
            },
            "Train": {
                "title": "Train",
                "description": "Train model",
                "properties": {
                    "trip": {
                        "title": "trip",
                        "description": "ID",
                        "type": "integer",
                        "example": 1
                    },
                    "hafasId": {
                        "title": "hafasId",
                        "description": "Deutsche bahn internal HAFAS ID",
                        "type": "string",
                        "example": "1|323306|1|80|17072022"
                    },
                    "category": {
                        "title": "category",
                        "description": "Category of transport. ",
                        "type": "string",
                        "enum": [
                            "nationalExpress",
                            "national",
                            "regionalExp",
                            "regional",
                            "suburban",
                            "bus",
                            "ferry",
                            "subway",
                            "tram",
                            "taxi"
                        ],
                        "example": "suburban"
                    },
                    "number": {
                        "title": "number",
                        "description": "number of train",
                        "type": "string",
                        "example": "4-a6s4-4"
                    },
                    "lineName": {
                        "title": "lineName",
                        "description": "name of the transport line",
                        "type": "string",
                        "example": "S 4"
                    },
                    "distance": {
                        "title": "distance",
                        "description": "travelled distance of this checkin in meters",
                        "type": "integer",
                        "example": 3349
                    },
                    "points": {
                        "title": "points",
                        "description": "points achieved for this checkin",
                        "type": "integer",
                        "example": 7
                    },
                    "duration": {
                        "title": "duration",
                        "description": "time traveled in this checkin in minutes",
                        "type": "integer",
                        "example": 7
                    },
                    "speed": {
                        "title": "speed",
                        "description": "speed of this checkin in kph",
                        "type": "number",
                        "format": "float",
                        "example": 85.98857142857143
                    },
                    "origin": {
                        "$ref": "#/components/schemas/TrainStopover"
                    },
                    "destination": {
                        "$ref": "#/components/schemas/TrainStopover"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Train"
                }
            },
            "TrainStopover": {
                "title": "TrainStopover",
                "description": "train station model",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "id",
                        "type": "integer",
                        "example": "12089"
                    },
                    "rilIdentifier": {
                        "title": "rilIdentifier",
                        "description": "Identifier specified in 'Richtline 100' of the Deutsche Bahn",
                        "type": "string",
                        "example": "RK",
                        "nullable": "true"
                    },
                    "evaIdentifier": {
                        "title": "evaIdentifier",
                        "description": "IBNR identifier of Deutsche Bahn",
                        "type": "integer",
                        "example": "8000191"
                    },
                    "arrival": {
                        "title": "arrival",
                        "description": "currently known arrival time. Equal to arrivalReal if known. Else equal to arrivalPlanned.",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "arrivalPlanned": {
                        "title": "arrivalPlanned",
                        "description": "planned arrival according to timetable records",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "arrivalReal": {
                        "title": "arrivalReal",
                        "description": "real arrival according to live data",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "arrivalPlatformPlanned": {
                        "title": "arrivalPlatformPlanned",
                        "description": "planned arrival platform according to timetable records",
                        "type": "string",
                        "example": "3",
                        "nullable": true
                    },
                    "arrivalPlatformReal": {
                        "title": "arrivalPlatformReal",
                        "description": "real arrival platform according to live data",
                        "type": "string",
                        "example": "3",
                        "nullable": true
                    },
                    "departure": {
                        "title": "departure",
                        "description": "currently known departure time. Equal to departureReal if known. Else equal to\n     *     departurePlanned.",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "departurePlanned": {
                        "title": "departurePlanned",
                        "description": "planned departure according to timetable records",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "departureReal": {
                        "title": "departureReal",
                        "description": "real departure according to live data",
                        "example": "2022-07-17T14:17:00+02:00",
                        "nullable": true
                    },
                    "departurePlatformPlanned": {
                        "title": "departurePlatformPlanned",
                        "description": "planned departure platform according to timetable records",
                        "type": "string",
                        "example": "3",
                        "nullable": true
                    },
                    "departurePlatformReal": {
                        "title": "departurePlatformReal",
                        "description": "real departure platform according to live data",
                        "type": "string",
                        "example": "3",
                        "nullable": true
                    },
                    "platform": {
                        "title": "platform",
                        "description": "platform",
                        "type": "string",
                        "example": "3",
                        "nullable": "true"
                    },
                    "isArrivalDelayed": {
                        "title": "isArrivalDelayed",
                        "description": "Is there a delay in the arrival time?",
                        "type": "boolean",
                        "example": false
                    },
                    "isDeparutreDelayed": {
                        "title": "isDepartureDelayed",
                        "description": "Is there a delay in the departure time?",
                        "type": "boolean",
                        "example": false
                    },
                    "cancelled": {
                        "title": "cancelled",
                        "description": "is this stopover cancelled?",
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object",
                "xml": {
                    "name": "TrainStopover"
                }
            },
            "User": {
                "title": "User",
                "description": "User model",
                "properties": {
                    "id": {
                        "title": "ID",
                        "description": "ID",
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "displayName": {
                        "title": "displayName",
                        "description": "Display name of the user",
                        "example": "Gertrud"
                    },
                    "username": {
                        "title": "username",
                        "description": "username of user",
                        "type": "string",
                        "example": "Gertrud123"
                    },
                    "profilePicture": {
                        "title": "profilePicture",
                        "description": "URL of the profile picture of the user",
                        "type": "integer",
                        "example": "https://traewelling.de/@Gertrud123/picture"
                    },
                    "trainDistance": {
                        "title": "trainDistance",
                        "description": "distance travelled by train in meters",
                        "type": "integer",
                        "format": "int64",
                        "example": 12345
                    },
                    "trainDuration": {
                        "title": "trainDuration",
                        "description": "duration travelled by train in minutes",
                        "type": "integer",
                        "format": "int64",
                        "example": 6
                    },
                    "trainSpeed": {
                        "title": "trainSpeed",
                        "description": "average speed travelled by train in meters",
                        "type": "number",
                        "format": "float",
                        "example": 123.45
                    },
                    "points": {
                        "title": "points",
                        "description": "Current points of the last 7 days",
                        "type": "integer",
                        "format": "int64",
                        "example": 300
                    },
                    "twitterUrl": {
                        "title": "twitterUrl",
                        "description": "URL to the Twitter profile of the user",
                        "type": "string",
                        "example": "https://twitter.com/i/user/843458335",
                        "nullable": true
                    },
                    "mastodonUrl": {
                        "title": "mastodonUrl",
                        "description": "URL to the Mastodon profile of the user",
                        "type": "string",
                        "example": "https://chaos.social/@traewelling",
                        "nullable": true
                    },
                    "privateProfile": {
                        "title": "privateProfile",
                        "description": "is this profile set to private?",
                        "type": "boolean",
                        "example": false
                    },
                    "privacyHideDays": {
                        "title": "privacyHideDays",
                        "description": "Hide all statuses after x days",
                        "type": "integer",
                        "example": 3
                    },
                    "userInvisibleToMe": {
                        "title": "userInvisibleToMe",
                        "description": "Can the currently authenticated user see the statuses of this user?",
                        "type": "boolean",
                        "example": false
                    },
                    "muted": {
                        "title": "muted",
                        "description": "Is this user muted by the currently authenticated user?",
                        "type": "boolean",
                        "example": false
                    },
                    "following": {
                        "title": "following",
                        "description": "Does the currently authenticated user follow this user?",
                        "type": "boolean",
                        "example": false
                    },
                    "followPending": {
                        "title": "followPending",
                        "description": "Is there a currently pending follow request?",
                        "type": "boolean",
                        "example": false
                    },
                    "preventIndex": {
                        "title": "preventIndex",
                        "description": "Did the user choose to prevent search engines from indexing their profile?",
                        "type": "boolean",
                        "example": false
                    }
                },
                "type": "object",
                "xml": {
                    "name": "User"
                }
            },
            "StatusUpdateBody": {
                "title": "StatusUpdateBody",
                "description": "Status Update Body",
                "properties": {
                    "body": {
                        "title": "body",
                        "description": "Status-Text to be displayed alongside the checkin",
                        "maxLength": 280,
                        "example": "Wow. This train is extremely crowded!",
                        "nullable": true
                    },
                    "business": {
                        "$ref": "#/components/schemas/BusinessEnum"
                    },
                    "visibility": {
                        "$ref": "#/components/schemas/VisibilityEnum"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "StatusUpdateBody"
                }
            },
            "BusinessEnum": {
                "title": "Business",
                "description": "What type of travel (0=private, 1=business, 2=commute) did the user specify?",
                "type": "integer",
                "enum": [
                    0,
                    1,
                    2
                ],
                "example": 0
            },
            "VisibilityEnum": {
                "title": "visibility",
                "description": "What type of visibility (0=public, 1=unlisted, 2=followers, 3=private, 4=authenticated) did the\n *     user specify?",
                "type": "integer",
                "enum": [
                    0,
                    1,
                    2,
                    3,
                    4
                ],
                "example": 0
            }
        },
        "parameters": {
            "page": {
                "name": "page",
                "in": "query",
                "description": "Page of pagination",
                "required": false,
                "schema": {
                    "type": "integer"
                }
            }
        },
        "securitySchemes": {
            "token": {
                "type": "apiKey",
                "name": "Authorization",
                "in": "header"
            }
        }
    },
    "tags": [
        {
            "name": "Dashboard",
            "description": "API Endpoints of Dashboard"
        },
        {
            "name": "Status",
            "description": "Endpoints for accessing and manipulating Statusses and their additional data"
        }
    ]
}