.git
.env.*
.github
docker/
node_modules/
vendor/
*.md
docs/traewelling.jpg
phpunit.xml
phpcs.xml
Dockerfile
codesize.xml
api-swagger-v0.yml
.styleci.yml
tests/
public/css/
public/js/
database/docker-container-state/
avatars/
database-data/
Dockerfile
.devenv
.direnv
