APP_NAME=Träwelling
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_LIFETIME=120

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

# The derhuerst/db-rest:v3 instance which we use. You can create your own
# instance
DB_REST=http://localhost:3000

# Prevent TRWL from posting to socialMedia
POST_SOCIAL=FALSE

TWITTER_REDIRECT=http://localhost:8000/callback/twitter
TWITTER_ID=
TWITTER_SECRET=

MASTODON_DOMAIN=
MASTODON_ID=
MASTODON_SECRET=
MASTODON_REDIRECT=
MASTODON_APPNAME=

GITHUB_ID=
GITHUB_SECRET=
GITHUB_REDIRECT=
