VERSION
vendor/
node_modules/
npm-debug.log
tests-coverage/
clover.xml
.phpunit.cache/
.DS_Store

# Profile pictures
public/uploads/avatars/*

# vendor-views
!resources/views/vendor

# Laravel specific
bootstrap/compiled.php
app/storage/
public/storage
public/hot
storage/*.key
.env*
Homestead.yaml
Homestead.json
storage/framework/maintenance.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/

# IDE-based project files
.vscode
.idea

database-data/

public/js/*.js
public/js/*.js.map
public/js/*.js.LICENSE.txt
public/css/*.css
public/css/*.css.map
.phpunit.result.cache

# Nix
.devenv
.direnv
result*

# Vite
/public/build

# laravel-vue-i18n
lang/php_*.json

*.sqlite
