includes:
    - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    paths:
        - app
        - config
        - database
        - routes

    # Set your desired level (0-9). Start with 4 for a balance of strictness.
    level: 4

    excludePaths:
        - bootstrap
        - storage
        - vendor
        - node_modules (?)
