// ==========================
// Body
// ==========================
$body-bg: #f8fafc;
$enable-negative-margins: true;

// ==========================
// Typography
// ==========================
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// ==========================
// Bootstrap Colors
// ==========================
$white: #fff;
$black: #000;
$dark: #343a40;
$blue: #3b71ca;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: rgba(0, 0, 0, 0.125);
$light: #f8f9fa;
$secondary: #6c757d;

// ==========================
// Custom Colors
// ==========================
$bahnrot: rgb(192, 57, 43);
$trwlRot: rgb(199, 39, 48);
$text-color: #212529;
$blueCounterColor: rgb(0, 46, 102);

// ==========================
// Dark Mode
// ==========================
$dm-base: hsl(224, 15%, 7%);
$dm-base-5: adjust-color(
  $dm-base,
  $lightness: 5%
); // TODO: deprecated in Dart Sass; replace with `color.adjust(...)` but we need to upgrade our files first to support modules
$dm-base-10: adjust-color(
  $dm-base,
  $lightness: 10%
); // TODO: deprecated in Dart Sass; replace with `color.adjust(...)` but we need to upgrade our files first to support modules
$dm-base-20: adjust-color(
  $dm-base,
  $lightness: 20%
); // TODO: deprecated in Dart Sass; replace with `color.adjust(...)` but we need to upgrade our files first to support modules
$dm-base-30: adjust-color(
  $dm-base,
  $lightness: 30%
); // TODO: deprecated in Dart Sass; replace with `color.adjust(...)` but we need to upgrade our files first to support modules

$dm-trwlRot: hsl(6, 100%, 73%);
$dm-trwlRot-shape: hsl(6, 100%, 65%);
$dm-trwlBlue: hsl(217, 100%, 81%);
$dm-lightblue: hsl(209, 81%, 67%);
$dm-body: hsl(224, 10%, 75%);
