// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #fff;
$black: #000;
$dark: #343a40;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: rgba(0, 0, 0, 0.125);
$bahnrot: rgb(192, 57, 43);
$text-color: #212529;
$blueCounterColor: rgb(0, 46, 102);
$trwlRot: rgb(199, 39, 48);

//$primary: #1d3a8f;
$secondary: #6c757d;
//$success: #28a745;
//$info: #17a2b8;
//$warning: #EE7202;
//$danger: #dc3545;
$light: #f8f9fa;
$dark: #343a40;

// Dark Mode
$dm-base: hsl(224, 15%, 7%);
$dm-base-5: lighten($dm-base, 5%);
$dm-base-10: lighten($dm-base, 10%);
$dm-base-20: lighten($dm-base, 20%);
$dm-base-30: lighten($dm-base, 30%);

$dm-trwlRot: hsl(6, 100%, 73%);
$dm-trwlRot-shape: hsl(6, 100%, 65%);
$dm-trwlBlue: hsl(217, 100%, 81%);
$dm-lightblue: hsl(209, 81%, 67%);

$dm-body: hsl(224, 10%, 75%);
