// Variables
@import "variables";

//Override some variables
$primary: $trwlRot;
$secondary: #ced4da;
$success: #61CE5D;
$info: #1487C7;
$warning: #FA5719;
$danger: #941E23;
$light: #fff;
$dark: #000;

// Bootstrap
@import "~bootstrap";

// Fonts
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

@import "~leaflet";
@import '~notyf/notyf.min.css';

#navbar-top {
    background-color: $primary;

    a,
    span.navbar-toggler-icon {
        color: $white;
    }
}

.btn-secondary,
.btn-outline-secondary {
    color: $black;
}
