@import "variables";
@import "mdb-ui-kit/src/scss/free/_variables";

:root.dark {
    --mdb-body-color: #{$dm-body};
    --mdb-modal-bg: #{$dm-base};

    --mdb-link-color: #{$dm-lightblue};
    --mdb-btn-hover-color: #{$dm-lightblue};
    --mdb-btn-focus-color: #{$dm-lightblue};
    --mdb-btn-active-color: #{$dm-lightblue};

    --mdb-nav-tabs-link-color: $dm-lightblue;

    $box-shadow: 0 0.5rem 1rem rgba($gray-300, 0.15) !default;
    $box-shadow-sm: 0 0.125rem 0.25rem rgba($gray-300, 0.075) !default;
    $box-shadow-lg: 0 1rem 3rem rgba($gray-300, 0.175) !default;
    $box-shadow-inset: inset 0 1px 2px rgba($gray-300, 0.075) !default;

    body {
        background-color: $dm-base;
        color: $dm-body !important;
    }

    a {
        color: $dm-trwlBlue;
    }

    a.btn {
        color: $white;
    }

    .accordion-item {
        background-color: $dm-base;
        color: $white;
        border: 1px solid $dm-base-20;
    }

    .accordion-flush .accordion-item {
        border: 0;
    }

    .accordion-button {
        background-color: $dm-base;
        color: $white;
    }

    .card {
        background-color: $dm-base-5;
    }

    .hover-card {
        background-color: $dm-base;
    }

    .card-header {
        border-bottom-color: $dm-base-20;
    }

    .card-footer {
        border-top-color: $dm-base-20;
    }

    .form-control,
    .input-group-text {
        background-color: lighten($dm-base, 2%);
        border-color: lighten($dm-base, 30%) !important;
        color: lighten($dm-body, 8%) !important;

        &:focus {
            background-color: lighten($dm-base, 10%);
        }
    }

    .form-select {
        background-color: lighten($dm-base, 2%);
        color: $dm-body !important;
        border-color: lighten($dm-base, 30%) !important;

        &:focus {
            background-color: lighten($dm-base, 10%);
        }
    }

    .form-floating > label {
        color: $dm-body !important;
    }

    .form-outline .form-control ~ .form-notch div {
        border-color: lighten($dm-base, 30%) !important;
    }

    .input-group-text {
        background-color: lighten($dm-base, 6%);
    }

    .stationSearchButton {
        border-color: lighten($dm-base, 30%);
    }

    .btn-primary {
        --mdb-btn-box-shadow: 0 4px 9px -4px $dm-base;
    }

    .btn-outline-primary {
        --mdb-btn-bg: transparent;
        --mdb-btn-color: #{$dm-lightblue} !important;
        --mdb-btn-hover-bg: transparent;
        --mdb-btn-hover-color: #{$dm-lightblue} !important;
        --mdb-btn-focus-bg: transparent;
        --mdb-btn-focus-color: #{$dm-lightblue} !important;
        --mdb-btn-active-bg: transparent;
        --mdb-btn-active-color: #{$dm-lightblue} !important;
        border-color: desaturate(darken($dm-lightblue, 15%), 25%);
    }

    .btn-outline-secondary {
        --mdb-btn-bg: transparent;
        --mdb-btn-color: #{lighten($dm-base, 61%)};
        --mdb-btn-hover-bg: transparent;
        --mdb-btn-hover-color: #{lighten($dm-base, 61%)};
        --mdb-btn-focus-bg: transparent;
        --mdb-btn-focus-color: #{lighten($dm-base, 61%)};
        --mdb-btn-active-bg: transparent;
        --mdb-btn-active-color: #{lighten($dm-base, 61%)};
        border-color: lighten($dm-base, 45%);
    }

    .text-muted {
        color: hsl(224, 10%, 67%) !important;
    }

    .text-dark {
        color: hsl(224, 10%, 67%) !important;
    }

    .trwl-bulletpoint {
        background: lighten($dm-base, 30%) !important;
        border-color: $dm-trwlRot-shape;
    }

    .text-trwl {
        color: $dm-trwlRot !important;
    }

    ul.timeline > li:first-child:before {
        background-color: lighten($dm-base, 45%);
    }

    // status

    .status {
        .progress {
            .progress-bar {
                background: $dm-trwlRot-shape;

                &.progress-pride {
                    background: linear-gradient(
                            66deg,
                            hsl(0, 75%, 60%) 0 14.28%,
                            hsl(39, 75%, 47%) 0 28.57%,
                            hsl(60, 65%, 50%) 0 42.85%,
                            hsl(120, 75%, 40%) 0 57.14%,
                            hsl(181, 75%, 40%) 0 71.42%,
                            hsl(240, 75%, 60%) 0 85.71%,
                            hsl(275, 75%, 35%) 0
                    );
                }
            }
        }

        .like {
            color: lighten(#f5a530, 10%);
        }

        .visibility-icon {
            color: lighten(#b3b3b3, 10%) !important;
        }
    }

    $outline-grey: lighten(#495057, 10%);

    .btn-outline-grey {
        color: $outline-grey;
        border-color: $outline-grey;
    }

    .btn-outline-grey:active,
    .btn-check:active + .btn-outline-grey,
    .btn-check:checked + .btn-outline-grey,
    .btn-outline-grey.active,
    .show > .btn-outline-grey.dropdown-toggle {
        color: #fff;
        background-color: $outline-grey;
    }

    .modal {
        --mdb-modal-bg: #{$dm-base-5};
    }

    .modal-header {
        border-bottom-color: $dm-base-20;
    }

    .modal-footer {
        border-top-color: $dm-base-20;
    }

    .nav-tabs .nav-link {
        --mdb-nav-tabs-link-color: #{$dm-lightblue} !important;
        --mdb-nav-tabs-link-active-color: #{lighten($dm-lightblue, 10%)} !important;
        --mdb-nav-tabs-link-active-border-color: #{darken($dm-lightblue, 10%)} !important;
    }

    .col-form-label {
        color: $dm-body !important;
    }

    .form-label {
        color: $dm-body !important;
    }

    $btn-link-base: #3b71ca;

    .btn-link {
        --mdb-btn-color: #{lighten($btn-link-base, 1%)} !important;
        --mdb-btn-hover-color: #{lighten($btn-link-base, 1%)} !important;
        --mdb-btn-hover-bg: #{lighten($dm-base, 1%)} !important;
        --mdb-btn-focus-color: #{lighten($btn-link-base, 1%)} !important;
        --mdb-btn-active-color: #{lighten($btn-link-base, 1%)} !important;
        --mdb-btn-disabled-color: #9e9e9e;
        --mdb-btn-box-shadow: none;
        text-decoration: none;
        box-shadow: var(--mdb-btn-box-shadow);
    }

    .btn-light {
        color: #a4a4a4 !important;
        --mdb-btn-bg: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-focus-bg: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-hover-bg: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-focus-color: #4f4f4f;
        --mdb-btn-hover-bg: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-active-color: #4f4f4f;
        --mdb-btn-active-bg: #{lighten($dm-base, 20%)} !important;
        --mdb-btn-box-shadow: none;
        --mdb-btn-hover-box-shadow: none !important;
    }

    .nav-tabs .nav-link:hover {
        background-color: lighten($dm-base, 10%) !important;
    }

    .nav-tabs .nav-link.active {
        background-color: lighten($dm-base, 10%) !important;
    }

    .btn-outline-dark {
        --mdb-btn-color: #{lighten($dm-base, 50%)} !important;
        --mdb-btn-hover-color: #{lighten($dm-base, 70%)} !important;
        --mdb-btn-hover-bg: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-focus-color: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-active-color: #{lighten($dm-base, 10%)} !important;
        --mdb-btn-disabled-color: #9e9e9e;
        --mdb-btn-box-shadow: none;
        text-decoration: none;
        box-shadow: var(--mdb-btn-box-shadow);
    }

    .dropdown-menu {
        color: lighten($dm-base, 10%) !important;
        background-color: $dm-base-5 !important;
    }

    .dropdown-item {
        color: $dm-body !important;
    }

    .dropdown-item:hover {
        background-color: lighten($dm-base, 15%) !important;
    }

    .dropdown-item.active,
    .dropdown-item:active {
        background-color: lighten($dm-base, 20%) !important;
        color: lighten($dm-body, 5%) !important;
    }

    .awesomplete > ul {
        background: lighten($dm-base, 10%);
    }

    .table {
        border-color: $dm-base-20;
    }

    .dropdown-divider {
        border-top-color: $dm-base-20;
    }

    .form-outline .form-control ~ .form-label {
        color: lighten($dm-base, 50%);
    }

    .list-group-item {
        background-color: lighten($dm-base, 15%);
        color: $dm-body !important;

        &:hover {
            background-color: lighten($dm-base, 10%);
        }
    }

    #last-stations .list-group-item.list-group-item-action.title {
        background-color: lighten($dm-base, 10%);
        color: $dm-body !important;
    }

    .image-box img,
    .img-thumbnail {
        filter: brightness(0.8) saturate(0.8);
    }

    .bg-trwl {
        background-color: desaturate(darken($dm-trwlRot, 45%), 20%) !important;
    }

    .bg-body {
        background-color: $dm-base !important;
    }

    .navbar-brand {
        color: #dddddd !important;
    }

    .text-success {
        color: #58ea5e !important;
    }

    .text-warning {
        color: #ffc659 !important;
    }

    .alert-success {
        background-color: hsl(160, 100%, 13%);
        color: hsl(0, 0%, 85%);
    }

    .alert-warning {
        background-color: hsl(40, 100%, 23%);
        color: rgb(251, 251, 251);
    }

    .text-danger {
        color: #ff9191 !important;
    }

    .alert-danger {
        background-color: hsl(350, 48%, 25%);
        color: rgb(238, 238, 238);
    }

    .alert-info {
        background-color: hsl(194, 80%, 20%);
        color: rgb(238, 238, 238);

        i {
            color: hsl(195, 63%, 70%);
        }
    }

    #stationboard .stationboardDivider {
        border-top-color: $dm-base-20;
    }

    // TODO: this is absolutely a hack
    .btn-close {
        filter: invert(1);
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: lighten($dm-base, 45%) !important;
        opacity: 1; /* Firefox */
    }

    .profile-banner {
        background: linear-gradient(
                #{rgba(darken($dm-trwlRot, 60%), 0.4)},
                #{rgba(darken($dm-trwlRot, 60%), 0.4)}
        ),
        url("/images/covers/profile-background.png");
        background-position: center;
    }

    .pagination {
        --mdb-pagination-hover-color: #{$dm-body} !important;
        --mdb-pagination-hover-bg: #{$dm-base-20} !important;
        --mdb-pagination-hover-border-color: #{$dm-base-20} !important;
        --mdb-pagination-focus-color: #{$dm-body} !important;
        --mdb-pagination-focus-bg: #{$dm-base-30} !important;
        --mdb-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(59, 113, 202, 0.25);
        --mdb-pagination-active-color: #{$dm-body} !important;
        --mdb-pagination-active-bg: #{$dm-base-30} !important;
        --mdb-pagination-active-border-color: #{$dm-base-30} !important;
        --mdb-pagination-disabled-color: hsl(224, 10%, 67%) !important;
        --mdb-pagination-disabled-bg: #{$dm-base} !important;
        --mdb-pagination-disabled-border-color: #{$dm-base} !important;
    }

    a.page-link {
        color: #{$dm-body} !important;
    }

    .page-item {
        &.disabled {
            .page-link {
                color: hsl(224, 10%, 55%) !important;
            }
        }
    }

    .apexcharts-text {
        fill: $dm-body;
    }

    .apexcharts-legend-text {
        color: $dm-body !important;
    }

    .apexcharts-tooltip {
        background: $dm-base-10;
        border-color: $dm-base-20;
    }

    .apexcharts-tooltip.apexcharts-theme-light .apexcharts-tooltip-title {
        color: $dm-body;
        background: $dm-base-20;
        border-color: $dm-base-20;
    }

    .apexcharts-xaxistooltip,
    .apexcharts-yaxistooltip {
        background: $dm-base-20;
        border-color: $dm-base-20;
        color: $dm-body;
    }

    .color-main {
        color: $dm-trwlRot;
    }

    .leaflet-layer {
        &:nth-child(1) .leaflet-tile {
            filter: invert(1) grayscale(100%) sepia(100%) hue-rotate(180deg) saturate(0.7);
        }

        &:nth-child(2) .leaflet-tile {
            filter: invert(1) hue-rotate(180deg) grayscale(70%) opacity(0.65);
        }
    }

    .leaflet-control-attribution {
        color: $dm-body;
        background: opacify($color: $dm-base, $amount: 0.8);
    }

    .leaflet-interactive {
        stroke: $dm-trwlRot-shape;
    }

    .shadow-sm {
        box-shadow: $box-shadow-sm !important;
    }

    .border-bottom {
        border-bottom: 1px solid $dm-base-20 !important;
    }
}
