// Fonts
@import "~@fortawesome/fontawesome-free/scss/brands";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

// Variables
@import "variables";

// Bootstrap
//@import "~bootstrap/scss/bootstrap";
// mdbootstrap pro
@import '~mdb-ui-kit/css/mdb.min.css';

body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
}

.card {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

// Overall site layout
@import "site";
@import "small-phones";

// Sites
@import "components/about";
@import "components/timepicker";

// Leaflet
@import "~leaflet/dist/leaflet.css";

// Station Autocomplete
@import "~awesomplete/awesomplete.css";
@import "components/station-autocomplete";

// Components
@import "./components/status";
@import "./components/activeJourneys";
@import "~bootstrap-cookie-alert/cookiealert.css";
@import "./components/image-box";
@import "./components/settings";
@import "./components/eventspage";
@import "./components/notifications-board";
@import "./components/leaderboard";
@import "./components/search";
@import "./components/custom-buttons";

.table-vertical-center td {
  vertical-align: middle;
}

.color-main {
  color: $trwlRot;
}
