@import "./font-awesome";
@import "lgbtq.css";
// Variables
@import "variables";

// mdbootstrap
@import "mdb-ui-kit/src/scss/mdb.free.scss";

.fas.peach::before {
    content: "\1f351" !important;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 300;
}

.card {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.hover-card {
    background-color: $light;
}

@import "notyf/notyf.min.css";

// Overall site layout
@import "site";
@import "small-phones";

// Sites
@import "components/about";
@import "components/timepicker";

// Leaflet
@import "leaflet/dist/leaflet.css";

// Station Autocomplete
@import "awesomplete/awesomplete.css";
@import "components/station-autocomplete";

// Components
@import "./components/status";
@import "./components/activeJourneys";
@import "bootstrap-cookie-alert/cookiealert.css";
@import "./components/image-box";
@import "./components/settings";
@import "./components/eventspage";
@import "./components/notifications-board";
@import "./components/leaderboard";
@import "./components/search";
@import "./components/custom-buttons";
@import "./components/stationboard";
@import "./components/dailyStats";
@import "./components/maps";

.table-vertical-center td {
    vertical-align: middle;
}

.color-main {
    color: $trwlRot;
}

.profile-banner {
    background-image: url("../images/covers/profile-background.png");
    background-position: center;
    background-color: #c5232c;
}

.profile-picture {
    width: 30%;
    height: 30%;
    bottom: 0;
}

.profile-stats {
    font-size: map-get($font-sizes, 5);
}

.profile-name {
    font-size: map-get($font-sizes, 4);
}

.profile-tag {
    font-size: map-get($font-sizes, 5);
}

@include media-breakpoint-up(md) {
    .profile-picture {
        width: 20%;
        height: 20%;
    }

    .profile-stats {
        font-size: map-get($font-sizes, 2);
    }

    .profile-name {
        font-size: map-get($font-sizes, 2);
    }

    .profile-tag {
        font-size: map-get($font-sizes, 2);
    }
}

.mobile-input-fs-16 {
    font-size: 16px;
}

.text-pride {
    padding-left: 5px;
    padding-right: 5px;

    // outline the text for better readability
    text-shadow: -1px -1px 0 $trwlRot, 1px -1px 0 $trwlRot, -1px 1px 0 $trwlRot, 1px 1px 0 $trwlRot;
}

