
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-Bold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800; //extra bold
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-ExtraBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 300; //light
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-Light.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 200; //extra light
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-ExtraLight.ttf) format('truetype');
}


@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: normal;
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-Italic.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: bold;
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-BoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 800; //extra bold
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-ExtraBoldItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 300; //light
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-LightItalic.ttf) format('truetype');
}

@font-face {
    font-family: 'Nunito';
    font-style: italic;
    font-weight: 200; //extra light
    font-display: swap;
    src: url(../fonts/Nunito/Nunito-ExtraLightItalic.ttf) format('truetype');
}
