html,
body {
  background-color: #fff;
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 18px;
}

.bottom-center {
  z-index: 3;
  position: absolute;
  bottom: 18px;
  text-align: center;
}

.content {
  z-index: 3;
  text-align: center;
  position: absolute;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #fff;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 100%;
  background-attachment: scroll;
  overflow: hidden;
}

.videoContainer video {
  min-width: 100%;
  min-height: 100%;
  position: relative;
  z-index: 1;
}

.videoContainer .overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-image: linear-gradient(#d4353e, #a20b12);
  opacity: 0.8;
}
