#appstatus {
    text-align: center;

    dd {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 0.5ch;
        margin-bottom: 0rem;

        strong {
            font-weight: 500;
            margin-bottom: 0.5rem;
            display: inline-block;
        }
    }
    dt small {
        font-weight: 200;
    }

    .good {
        color: $green;
    }
    .bad {
        color: $red;
    }
}
