@import "../variables";

#notifications-board {
    .modal-header {
        justify-content: initial;

        h2 {
            flex-grow: 1;
        }

        #mark-all-read {
            text-align: left;
            padding: 0 0.5rem;

            i.fa-solid {
                font-size: 1.2em;
                margin-top: 0.2em;
            }
        }
    }

    .modal-body {
        padding: 0;
    }

    #notifications-list {
        .row {
            background-color: white;
            padding: 1rem 0;
            border-bottom: 0.5rem solid $body-bg;
            margin: 0;

            a {
                color: $text-color;
            }

            &.unread {
                &.warning {
                    background-color: lighten($bahnrot, 40%);
                }

                &.neutral {
                    background-color: lighten($blue, 40%);
                }
            }

            .col-1 i,
            .interact {
                font-weight: 700;
                line-height: 1;
                color: $dark;
                text-shadow: 0 1px 0 #fff;
                padding: 0;
                background-color: transparent;
                border: 0;
                -webkit-appearance: none;
                -moz-appearance: none;
                font-size: 1.25rem;
            }

            p.lead {
                margin-bottom: 0.5rem;

                i {
                    padding-right: 0.5rem;
                }
            }

            strong,
            b {
                font-weight: bold;
            }
        }
    }

    #notifications-empty {
        padding: 2rem 0;
    }
}

.navbar {
    div.navbar-toggler {
        display: table-cell;
        padding-right: 0;

        button.navbar-toggler {
            // The toggle buttons inside the div
            vertical-align: middle;
            padding-top: 0;
            padding-bottom: 0;

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .nav-item span.notifications-bell {
        &.fa,
        &.far {
            padding-left: 3px;
            padding-right: 3px;
        }
    }
}

.notifications-pill {
    background-color: #00476c !important;
}
