.status {
    .map {
        width: 100%;
        overflow: hidden;

        &.large {
            height: 280px;
        }
    }

    .progress {
        height: 0.3rem;
        // background: lighten(rgb(192, 57, 43), 50%);
        background: $grey;
        border-radius: 0;

        .progress-bar {
            background: rgb(192, 57, 43);
        }
    }

    .image-box {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            border-radius: 50%;
        }
    }

    .list-inline {
        margin-bottom: 0;

        .list-inline-item:not(:last-child) {
            margin-right: 0.5rem;

            &::after {
                content: "|";
                margin-left: 0.5rem;
                color: $grey;
            }
        }
    }
}
