@import "../variables";

.status {
    .map {
        width: 100%;
        min-height: 400px;
        overflow: hidden;

        &.large {
            height: 280px;
        }
    }

    .progress {
        height: 0.3rem;
        // background: lighten(rgb(192, 57, 43), 50%);
        background: $grey;
        border-radius: 0;

        .progress-bar {
            background: rgb(192, 57, 43);
        }
    }

    .profile-image {
        height: 2em;
        border-radius: 50%;
    }

    img {
        max-width: 100%;
    }

    .list-inline {
        margin-bottom: 0;

        .list-inline-item:not(:last-child) {
            margin-right: 0.5rem;
        }
    }

    .like-text {
        line-height: 2em;
    }

    .like {
        color: #f5a530;
        cursor: pointer;
    }

    .visibility-icon {
        color: #b3b3b3 !important;
    }
}
