@import "../variables";

.status {
    .map {
        width: 100%;
        min-height: 400px;
        overflow: hidden;

        &.large {
            height: 280px;
        }
    }

    .progress {
        height: 0.3rem;
        // background: lighten(rgb(192, 57, 43), 50%);
        background: $grey;
        border-radius: 0;

        .progress-bar {
            background: rgb(192, 57, 43);
        }
    }

    .profile-image {
        height: 2em;
        border-radius: 50%;
    }

    img {
        max-width: 100%;
    }

    .interaction {
        align-items: center;
        display: flex;
        height: 3.5rem;
        justify-content: space-between;
        padding-block: 0;
    }

    .metadata-list {
        align-items: center;
        display: flex;
    }

    .interaction-list {
        margin: 0;
        margin-right: -0.75rem;
        padding: 0;
    }

    .interaction-list-item {
        align-items: center;
        display: flex;
    }

    .interaction-button {
        align-items: center;
        appearance: none;
        background: none;
        border: none;
        box-shadow: none;
        color: inherit;
        cursor: pointer;
        display: flex;
        gap: 0.25rem;
        height: 2.75rem;
        justify-content: center;
        min-width: 2.75rem;
        padding: 0 0.75rem;

        &[data-mdb-toggle] {
            color: var(--mdb-link-color);
        }

        span {
            margin-top: 1px;
        }
    }

    .list-inline {
        margin-bottom: 0;

        .list-inline-item:not(:last-child) {
            margin-right: 0.25rem;
        }
    }

    .like-text {
        line-height: 2em;
    }

    .like-color {
        color: #f5a530;
    }

    .visibility-icon {
        color: #b3b3b3 !important;
    }
}
