.status .map {
    width: 100%;
    overflow: hidden;

    &.large {
        height: 280px;
    }
}

.status .progress {
    height: 0.3rem;
    // background: lighten(rgb(192, 57, 43), 50%);
    background: rgba(0, 0, 0, 0.125);
    border-radius: 0;

    .progress-bar {
        background: rgb(192, 57, 43);
    }
}
