@font-face {
    font-family: 'opendyslexic';
    src: url('~open-dyslexic/otf/OpenDyslexic-Regular.otf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('~open-dyslexic/ttf/OpenDyslexic-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('~open-dyslexic/ttf/OpenDyslexic-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'opendyslexic';
    src: url('~open-dyslexic/ttf/OpenDyslexic-BoldItalic.ttf');
    font-weight: bold;
    font-style: italic;
}
