openapi: 3.0.0
info:
  description: "This is the REST API for Träwelling."
  version: 0.5.1
  title: "TRWL app API"
  contact:
    name: "Träwelling Dev Team"
    url: "https://gitlab.com/HerrLevin_/trwl"
servers:
  - url: "https://testing.traewelling.de/api/v0" #TODO: Need a production server path

tags:
  - name: "Statuses"
    description: Query, add, update, and delete statuses
  - name: "Check-in"
    description: Routes required to complete a full check-in workflow.
  - name: "User profile"
    description: Routes for editing the current user’s profile.

paths:
  /statuses/enroute/:
    get:
      tags: [Statuses]
      summary: Retrieves a list of all active statuses.
      responses:
        200:
          description: OK.
            The returned array may be empty if there are no active statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /statuses/:
    get:
      security:
        - bearerAuth: []
      tags: [Statuses]
      summary: Retrieves the dashboard
      parameters:
        - in: query
          name: view
          schema:
            type: string
            enum: [global, personal, user]
            default: global
          description: Filters the list of statuses so that it will either return the
            global view (i.e. all public statuses == global dashboard), just the statuses
            of the current user’s follows (i.e. the user’s dashboard).
        - in: query
          name: username
          schema:
            $ref: '#/components/schemas/username'
          description: Only required if the “view” parameter is set to “user”. If that is
            the case this parameter takes the ID of the user to fetch statuses for.
        - in: query
          name: page
          schema:
            type: integer
            example: 1
          description: Needed to show next or previous page of pagination
      responses:
        200:
          description: OK.
            The returned array may be empty if there are no active statuses.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /statuses/{id}:
    get:
      tags: [Statuses]
      summary: Retrieves a single status.
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/status_id'
          required: true
          description: The ID of the status to show.
      responses:
        200:
          description: OK.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          $ref: '#/components/responses/NotFoundError'
    put:
      security:
        - bearerAuth: []
      tags: [Statuses]
      summary: Update a status that the current user had posted previously.
      requestBody:
        content:
          text/plain:
            schema:
              type: string
              maxLength: 280
        description: The new status text to set in the status with the given ID.
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/status_id'
          required: true
          description: The ID of the status to modify.
      responses:
        200:
          description: OK.
            The status object has been modified on the server (i.e. the status text was
            changed). The response contains the modified version of the status.
          content:
            application/json:
              schema:
                type: object
                items:
                  $ref: '#/components/schemas/Status'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'
    delete:
      security:
        - bearerAuth: []
      tags: [Statuses]
      summary: Removes a status that the current user had posted previously.
      parameters:
        - in: path
          name: id
          schema:
            $ref: '#/components/schemas/status_id'
          required: true
          description: The ID of the status to delete.
      responses:
        204:
          description: No content.
            The status with the given ID has been deleted. Nothing further needs to be said, so
            the response will not have any content.
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
        403:
          $ref: '#/components/responses/ForbiddenError'
        404:
          $ref: '#/components/responses/NotFoundError'
  /trains/autocomplete/{query}:
    get:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Retrieves a list of stations.
      description: This endpoint can be called multiple times in succession when searching
        stations by name to provide suggestions for the user to select from. Please provide
        at least 3 characters when retrieving suggestions. Otherwise, only call this endpoint
        with less than 3 characters if the user explicitly requested a search.
      parameters:
        - in: path
          name: query
          schema:
            type: string
          required: true
          description: The ID of the status to modify.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/querystation'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /trains/stationboard:
    get:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Retrieves departures for a station.
      parameters:
        - in: query
          name: station
          schema:
            type: string
          required: true
          description: The name of the train station
        - in: query
          name: when
          schema:
            type: string
            example: 1575232872
          required: false
          description: The time of the query
        - in: query
          name: travelType
          schema:
            type: string
            enum: [nationalExpress, national, regionalExp, regional, suburban, bus, ferry, subway, tram, taxi]
          required: false
          description: Filter of transport types
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  station:
                    $ref: '#/components/schemas/querystation'
                  when:
                    type: number
                    description: UNIX-Timestamp
                    example: 1575230596
                  departures:
                    type: array
                    items:
                      $ref: '#/components/schemas/db_rest_departure'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /trains/trip:
    get:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Retrieves departures for a station.
      parameters:
        - in: query
          name: tripID
          schema:
            type: string
            example: "1|463098|0|80|1122019"
          required: true
          description: Trip ID of the train
        - in: query
          name: lineName
          schema:
            type: string
            example: "S 32"
          required: true
          description: Linename of train
        - in: query
          name: start
          schema:
            type: string
            example: "8000191"
          required: true
          description: Starting point of the trip
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  station:
                    $ref: '#/components/schemas/querystation'
                  start:
                    type: string
                    example: "Karlsruhe Hbf"
                  destination:
                    type: string
                    example: "Menzingen(Baden)"
                  train:
                    $ref: '#/components/schemas/hafas_trip'
                  stopovers:
                    type: array
                    items:
                      $ref: '#/components/schemas/db_rest_stopover'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /trains/checkin:
    post:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Adds a train-status for the current user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                tripID:
                  allOf:
                    - $ref: '#/components/schemas/trip_id'
                  required:
                    - tripID
                start:
                  allOf:
                    - $ref: '#/components/schemas/ibnr'
                  required:
                    - start
                destination:
                  allOf:
                    - $ref: '#/components/schemas/ibnr'
                  required:
                    - destintation
                body:
                  type: string
                  maxLength: 280
                  example: "This is my first checkin!"
                tweet:
                  type: boolean
                toot:
                  type: boolean
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  distance:
                    type: number
                    example: 16.152
                    description: Travel distance in kilometers
                  duration:
                    type: number
                    example: 900
                    description: Travel time in Seconds
                  points:
                    type: number
                    example: 1
                  lineName:
                    type: string
                    example: "S 32"
                  alsoOnThisConnection:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                    description: Array of users that are also on the same connection
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
  /trains/latest:
    get:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Shows the last 5 stations the logged in user arrived at.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/station'
  /trains/home:
    get:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Retrieves the home-station for logged in user.
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/station'
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'
    put:
      security:
        - bearerAuth: []
      tags: [Check-in]
      summary: Sets the home-station for logged in user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                ibnr:
                  type: number
                  example: 8123
                  required:
                    - ibnr
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: string
                example: "Ost.Punkt 812 km"
        400:
          $ref: '#/components/responses/BadRequestError'
        401:
          $ref: '#/components/responses/UnauthorizedError'



components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    UnauthorizedError:
      description: Unauthorized.
        Will be returned by the server if no user was logged in.
    NotFoundError:
      description: Not found
        The parameters in the request were valid, but the server did not find a corresponding object.
    ForbiddenError:
      description: Forbidden
        The logged in user is not permitted to perform this action. (e.g. edit a status of another user.)
    BadRequestError:
      description: Bad Request
        The parameters are wrong or not given.

  schemas:
    Status:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/status_id'
        created_at:
          $ref: '#/components/schemas/timestamp'
        updated_at:
          $ref: '#/components/schemas/timestamp'
        body:
          type: string
          maxLength: 280
          example: "This is my first checkin!"
        type:
          type: string
          example: "hafas"
        user:
          $ref: '#/components/schemas/User'
        train_checkin:
          $ref: '#/components/schemas/train_checkin'
    User:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/userId'
        name:
          type: string
          example: "J. Doe"
        username:
          type: string
          example: "jdoe"
        train_distance:
          type: number
          format: float
          example: "454.59"
        train_duration:
          type: integer
          example: "317"
        points:
          type: integer
          example: "66"
    db_rest_stopover:
      type: object
      properties:
        stop:
          type: object
          properties:
            type:
              type: string
              example: "stop"
            id:
              type: string
              example: "8000191"
            name:
              type: string
              example: "Karlsruhe Hbf"
            location:
              $ref: '#/components/schemas/hafas_location'
            products:
              $ref: '#/components/schemas/hafas_products'
        arrival:
          type: string
          example: "2019-12-01T21:56:00+01:00"
        arrivalDelay:
          type: string
          example: "60"
        arrivalPlattform:
          type: string
          example: "1"
        departure:
          type: string
          example: "2019-12-01T21:56:00+01:00"
        departureDelay:
          type: string
          example: "60"
        departurePlatform:
          type: string
          example: "1"
    db_rest_departure:
      type: object
      properties:
        trip_id:
          $ref: '#/components/schemas/trip_id'
        stop:
          type: object
          properties:
            type:
              type: string
              example: "stop"
            id:
              $ref: '#/components/schemas/ibnr'
            name:
              type: string
              description: Name of Station
              example: "Karlsruhe Bahnhofsvorplatz"
            location:
              $ref: '#/components/schemas/hafas_location'
            products:
              $ref: '#/components/schemas/hafas_products'
            station:
              type: object
              properties:
                type:
                  type: string
                  example: "station"
                id:
                  type: string
                  example: "8000191"
                name:
                  type: string
                  example: "Karlsruhe Hbf"
                location:
                  $ref: '#/components/schemas/hafas_location'
                products:
                  $ref: '#/components/schemas/hafas_products'
            when:
              type: string
              example: "2019-12-01T21:03:00+01:00"
            directoin:
              type: string
              example: "3 Tivoli"
            line:
              type: object
              properties:
                type:
                  type: string
                  example: "line"
                id:
                  type: string
                  example: "re-6"
                fahrtNr:
                  type: string
                  example: "12042"
                name:
                  type: string
                  example: "RE 6"
                public:
                  type: boolean
                  example: true
                operator:
                  type: object
                  properties:
                    type:
                      type: string
                      example: "operator"
                    id:
                      type: string
                      example: "db-regio-ag-mitte"
                    name:
                      type: string
                      example: "DB Regio AG Mitte"
                additionalName:
                  type: string
                  example: "RE 6"
            remarks:
              type: string
              description: actually array but almost always empty. Don't know what it does.
            delay:
              type: string
              example: "60"
              description: Delay in seconds
            platform:
              type: string
    hafas_location:
      type: object
      properties:
        type:
          type: string
          example: "location"
        id:
          $ref: '#/components/schemas/ibnr'
        latitude:
          type: number
          example: 48.994348
        longitude:
          type: number
          example: 8.399583
    hafas_products:
      type: object
      properties:
        nationalExpress:
          type: boolean
        national:
          type: boolean
        regionalExp:
          type: boolean
        regional:
          type: boolean
        suburban:
          type: boolean
        bus:
          type: boolean
        ferry:
          type: boolean
        subway:
          type: boolean
        tram:
          type: boolean
        taxi:
          type: boolean
    train_checkin:
      type: object
      properties:
        id:
          type: integer
        status_id:
          $ref: '#/components/schemas/status_id'
        trip_id:
          $ref: '#/components/schemas/trip_id'
        origin:
          $ref: '#/components/schemas/station'
        destination:
          $ref: '#/components/schemas/station'
        distance:
          type: number
          format: float
          example: "3.606"
        departure:
          $ref: '#/components/schemas/timestamp'
        arrival:
          $ref: '#/components/schemas/timestamp'
        points:
          type: integer
          example: "3"
        delay:
          type: integer
          example: "0"
        hafas_trip:
          $ref: '#/components/schemas/hafas_trip'
    hafas_trip:
      type: object
      properties:
        id:
          type: number
          example: 16
        trip_id:
          $ref: '#/components/schemas/trip_id'
        category:
          $ref: '#/components/schemas/category'
        number:
          $ref: '#/components/schemas/number'
        linename:
          $ref: '#/components/schemas/linename'
        origin:
          $ref: '#/components/schemas/ibnr'
        destination:
          $ref: '#/components/schemas/ibnr'
        stopovers:
          type: string
          example: "[{\"stop\":{\"type\":\"stop\",\"id\":\"8079041\",\"name\":\"Karlsruhe Bahnhofsvorplatz\",\"location\":{\"type\":\"location\",\"id\":\"8079041\",\"latitude\":48.994348,\"longitude\":8.399583},\"products\":{\"nationalExpress\":true,\"national\":true,\"regionalExp\":true,\"regional\":true,\"suburban\":true,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":true}},\"arrival\":null,\"arrivalDelay\":null,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:50:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null,\"remarks\":[{\"type\":\"hint\",\"code\":\"text.journeystop.product.or.direction.changes.stop.message\",\"text\":\"As Bus 62 heading towards 62 Entenfang >70 from here\"}]},{\"stop\":{\"type\":\"stop\",\"id\":\"362191\",\"name\":\"Ebertstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"362191\",\"latitude\":48.994519,\"longitude\":8.395395},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":true,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":false}},\"arrival\":\"2019-11-24T15:51:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:51:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"377218\",\"name\":\"Welfenstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"377218\",\"latitude\":48.99531,\"longitude\":8.386118},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":false}},\"arrival\":\"2019-11-24T15:53:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:53:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721329\",\"name\":\"Beiertheim West, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721329\",\"latitude\":48.994896,\"longitude\":8.382693},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T15:54:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:54:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721468\",\"name\":\"Windeckstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721468\",\"latitude\":48.99122,\"longitude\":8.371016},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":true}},\"arrival\":\"2019-11-24T15:55:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:55:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"723868\",\"name\":\"Hardecksiedlung, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"723868\",\"latitude\":48.992262,\"longitude\":8.368813},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":false}},\"arrival\":\"2019-11-24T15:56:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:56:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721437\",\"name\":\"Schwimmschulweg, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721437\",\"latitude\":48.994653,\"longitude\":8.364247},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T15:57:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:57:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721380\",\"name\":\"Hornisgrindestra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721380\",\"latitude\":48.995966,\"longitude\":8.360409},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T15:58:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:58:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721349\",\"name\":\"Edelbergstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721349\",\"latitude\":48.996865,\"longitude\":8.354071},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T15:59:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T15:59:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721458\",\"name\":\"Wattkopfstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721458\",\"latitude\":48.994573,\"longitude\":8.351635},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:00:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:00:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721333\",\"name\":\"Bernsteinstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721333\",\"latitude\":48.991912,\"longitude\":8.348363},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:01:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:01:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721350\",\"name\":\"Eichelbergstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721350\",\"latitude\":48.99353,\"longitude\":8.345109},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:02:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:02:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721455\",\"name\":\"T\\u00dcV, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721455\",\"latitude\":48.996667,\"longitude\":8.348426},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:03:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:03:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"723629\",\"name\":\"St. Josef Kirche, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"723629\",\"latitude\":48.998851,\"longitude\":8.348615},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:04:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:04:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721346\",\"name\":\"Durmersheimer Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721346\",\"latitude\":49.000514,\"longitude\":8.350619},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:05:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:05:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"723802\",\"name\":\"Sinner (Durmersheimer Stra\\u00dfe), Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"723802\",\"latitude\":49.002663,\"longitude\":8.35506},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:06:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:06:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721415\",\"name\":\"Gr\\u00fcnwinkel Friedhof, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721415\",\"latitude\":49.005521,\"longitude\":8.356103},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:07:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:07:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721339\",\"name\":\"Blohnstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721339\",\"latitude\":49.007346,\"longitude\":8.356417},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:08:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:08:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null,\"remarks\":[{\"type\":\"hint\",\"code\":\"text.journeystop.product.or.direction.changes.stop.message\",\"text\":\"As Bus 62 heading towards 70 Heidehof from here\"}]},{\"stop\":{\"type\":\"stop\",\"id\":\"363851\",\"name\":\"Entenfang, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"363851\",\"latitude\":49.010609,\"longitude\":8.359501},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":true,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":true}},\"arrival\":\"2019-11-24T16:10:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:12:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null,\"remarks\":[{\"type\":\"hint\",\"code\":\"text.journeystop.product.or.direction.changes.stop.message\",\"text\":\"As Bus 70 heading towards 70 Heidehof from here\"}]},{\"stop\":{\"type\":\"stop\",\"id\":\"721398\",\"name\":\"K\\u00e4rcherstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721398\",\"latitude\":49.015895,\"longitude\":8.361559},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:14:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:14:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"373522\",\"name\":\"Hertzstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"373522\",\"latitude\":49.020246,\"longitude\":8.364984},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":false}},\"arrival\":\"2019-11-24T16:15:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:15:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721326\",\"name\":\"Barbaraweg, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721326\",\"latitude\":49.023967,\"longitude\":8.365946},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:15:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:15:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721410\",\"name\":\"Madenburgweg, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721410\",\"latitude\":49.027051,\"longitude\":8.36546},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:16:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:16:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721332\",\"name\":\"Berliner Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721332\",\"latitude\":49.03026,\"longitude\":8.364939},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:17:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:17:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721364\",\"name\":\"Germersheimer Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721364\",\"latitude\":49.032894,\"longitude\":8.364858},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:17:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:17:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721462\",\"name\":\"Wei\\u00dfenburger Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721462\",\"latitude\":49.036957,\"longitude\":8.366989},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:18:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:18:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721436\",\"name\":\"Schweigener Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721436\",\"latitude\":49.03844,\"longitude\":8.369586},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:19:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:19:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721385\",\"name\":\"Kaiserslauterner Stra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721385\",\"latitude\":49.036687,\"longitude\":8.374153},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:20:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:20:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721900\",\"name\":\"Neureut Flughafenstra\\u00dfe, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721900\",\"latitude\":49.036139,\"longitude\":8.380535},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:21:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:21:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"721172\",\"name\":\"Neureut Rosmarinweg, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"721172\",\"latitude\":49.035482,\"longitude\":8.385605},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":false,\"taxi\":false}},\"arrival\":\"2019-11-24T16:22:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":\"2019-11-24T16:22:00+01:00\",\"departureDelay\":0,\"departurePlatform\":null},{\"stop\":{\"type\":\"stop\",\"id\":\"377009\",\"name\":\"Heidehof, Karlsruhe\",\"location\":{\"type\":\"location\",\"id\":\"377009\",\"latitude\":49.031536,\"longitude\":8.387008},\"products\":{\"nationalExpress\":false,\"national\":false,\"regionalExp\":false,\"regional\":false,\"suburban\":false,\"bus\":true,\"ferry\":false,\"subway\":false,\"tram\":true,\"taxi\":false}},\"arrival\":\"2019-11-24T16:23:00+01:00\",\"arrivalDelay\":0,\"arrivalPlatform\":null,\"departure\":null,\"departureDelay\":null,\"departurePlatform\":null}]"
        polyline:
          $ref: '#/components/schemas/polyline'
        departure:
          $ref: '#/components/schemas/timestamp'
        arrival:
          $ref: '#/components/schemas/timestamp'
        delay:
          type: integer
          example: "0"
    station:
      type: object
      properties:
        id:
          type: integer
          example: 3
        ibnr:
          $ref: '#/components/schemas/ibnr'
        name:
          type: string
          example: "Karlsruhe Bahnhofsvorplatz"
        latitude:
          type: number
          format: float
          example: "48.994348"
        longitude:
          type: number
          format: float
          example: 48.994348
    querystation:
      type: object
      properties:
        ibnr:
          $ref: '#/components/schemas/ibnr'
        name:
          type: string
          example: "Karlsruhe Bahnhofsvorplatz"
        provider:
          type: string
          example: "train"
    status_id:
      type: integer
      example: 10
    trip_id:
      type: string
      example: "1|1937395|17|80|24112019"
    userId:
      type: integer
      example: 1
    username:
      type: string
      example: "testuser"
    timestamp:
      type: string
      pattern: "YYYY-MM-DD hh:mm:ss"
      example: "2019-11-24 15:44:16"
    ibnr:
      type: string
      example: "8079041"
    category:
      type: string
      example: "bus"
    number:
      type: string
      example: "bus-62"
    linename:
      type: string
      example: "62"
    polyline:
      type: string
      format: hash
      example: "cac715508e44ae253f424562fe5d286e"
