/* nunito-regular - latin-ext_latin_vietnamese */
@font-face {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    src: url('nunito-v11-latin-ext_latin_vietnamese-regular.eot'); /* IE9 Compat Modes */
    src: local('Nunito Regular'), local('Nunito-Regular'),
    url('../Nunito/nunito-v11-latin-ext_latin_vietnamese-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../Nunito/nunito-v11-latin-ext_latin_vietnamese-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../Nunito/nunito-v11-latin-ext_latin_vietnamese-regular.woff') format('woff'), /* Modern Browsers */
    url('../Nunito/nunito-v11-latin-ext_latin_vietnamese-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../Nunito/nunito-v11-latin-ext_latin_vietnamese-regular.svg#Nunito') format('svg'); /* Legacy iOS */
}
